.numblist {
    clear: both;
    list-style: none;
  counter-reset:item 11;
  }
  .numblist li {
    margin: 0 0;
    padding-top: 2em;
    padding-left: 1rem;
    display: block;
    position: relative;
    /* counter-increment: inst; */
  counter-increment:item -1;
  }
  .numblist li::before {
  content:counter(item) " ";
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(12px);
    color: #999;
    font-size:clamp(3rem, 6vw, 5rem);
    font-weight: 700;
    font-style: italic;
    border-radius: 0 0.675em 0.675em 0;
    text-align: right;
    left: -20%;
  top:0;
    width: 150px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    text-shadow: .5vw -.5vh .3vw #000,0 8px 20px rgb(40, 8, 202),0px 12px 10px rgb(139, 142, 167),0 2px rgb(39, 67, 227),0 5px 2px rgb(39, 61, 227),0 0 2px rgb(39, 52, 227),0 0 2px rgb(39, 42, 227),0 0 1px rgb(39, 73, 227); 
  }
  
  .numblist li::after {
  content:counter(item) " ";
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(12px);
    color: #999;
    font-size:clamp(3rem, 6vw, 5rem);
    font-weight: 700;
    font-style: italic;
    border-radius: 0.675em 0 0 0.675em;
    text-align: left;
    right: -20%;
  top:0;
    width: 140px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    text-shadow: .5vw -.5vh .3vw #000,0 8px 20px rgb(40, 8, 202),0px 12px 10px rgb(139, 142, 167),0 2px rgb(39, 67, 227),0 5px 2px rgb(39, 61, 227),0 0 2px rgb(39, 52, 227),0 0 2px rgb(39, 42, 227),0 0 1px rgb(39, 73, 227); 
  }
  
  @media (min-width:50em) {
    .numblist li:before {
      width: 250px;
      left: -15vw;
      top:1vh;
    }
    
      .numblist li::after {
      width: 250px;
      right: -15vw;
      top:1vh;
    }
  }
  
  li h2{
      background: rgba(0, 0, 0, 0.7);
      padding:1px 1vw 1px 3vw;
      margin:-2.6vh auto 2vh auto;
      border-radius: 12px;
      font-size:clamp(1.2rem, 2.8vw, 3.8rem) !important;
      color: #ddd;
        text-align:center;
  }