#map{height:calc(100vh - 100px) !important ;}
#area {top:160px !important;}

#drawPolygonControl{top: 120px !important;}

#clearButton{top:120px !important;}
@media(min-width:48rem) {
  #area{ top:130px !important; }
}
  