---
import ThemeToggle from "../ThemeToggle.astro";
// import Search from "../Search.astro";
import { menuLinks } from "@/site-config";
// import { ViewTransitions } from 'astro:transitions';
import { Image } from "astro:assets";
import LogoImage from "../../../src/assets/dogpooper-logo-text.svg";
// import BackgroundImage from "../../../src/assets/newspaper.webp";
// import { BsLayoutSidebarInsetReverse } from "react-icons/bs";


// import Switch from "@/components/Switch.jsx";
// import GoBack from "../GoBack.jsx";
// import SideBar from "../SideBar.astro"

// import SideBar from "@/components/SideBar.astro";
// import { slide } from 'astro:transitions';
// transition:animate={fade({ duration: '0.4s' })}

const url = new URL(Astro.request.url);
---


<!-- <ViewTransitions /> -->




<div
	id="menu"
	class="menu header">
	<a href="/" aria-current={url.pathname === "/" ? "page" : false}>
		<Image src={LogoImage} alt="Dog Poopers Logo" class="cornerlogo" style={{
			position: "relative",
			top: "1%",
			left: "1%",
			padding: "0 0 0 0",
			marginLeft: "",
			maxHeight: "60px",
			minHeight: "60px",
			maxWidth: "100px"
		}}
			loading="eager"
			fetchpriority="high" />
	</a>

	<ul
		class="topmenu"
		style={{
			fontSize: "clamp(.6rem, 1.6vw, 1.8rem)",
			textAlign: "center",
			maxHeight: "",
			display: "flex",
			justifyContent: "space-around",
			gap: "4vw",
			alignItems: "center",
			margin: "0 auto 0 auto",
			padding: "0 0 0 0",
			border: "0px solid white",
			height:'60px',
			visibility:""
		}}
	>
		{
			menuLinks.map((link) => (
				<li>
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						rel="prefetch"
						data-astro-reload
					>
						{link.title}
					</a>
				</li>
			))
		}
				<!-- <div class="user-info" style="display:flex; gap:2vw;">
					<button id="left">Manage Account</button>
					<button id="right">Become a Pooper</button>
				  </div> -->
	</ul>


	<div
		id="missioncontrol"
		class="missioncontrol sitecontrols"
		style={{
			display: "flex",
			justifyContent: "space-around",
			fontSize: "clamp(.8rem, 2.3vw, 2.5rem)",
			gap: "3vw",
			textAlign: "center",
			maxHeight: "",
			alignItems: "center",
			padding: "0 10px 0 0",
		}}
	>



		<!-- <Search /> -->
		<!-- <Switch client:load /> -->
		<ThemeToggle />
		

		<!-- <label id="menuicon" html-for="openSidebarMenu" class="sidebarIconToggle1 backdrop1 " style={{ display: 'flex', flexDirection: 'column', justifyContent: 'center', alignItems: 'center', zIndex:'10000', marginTop: '0', textAlign: 'center', color:'#fff', height:'', cursor:'pointer' }}>
			<BsLayoutSidebarInsetReverse style={{ height: '30px', width:'30px', color:'#ddd', filter:'drop-shadow(0px 1px 0px var(--theme-ui-colors-textShadow))' }} />
			<span class="themetext" style="">Menu</span>
			</label> -->

			
	
	</div>
</div>





  
  
  