---
import Phone from "@/assets/pooper-ui-device2.webp";
import { Image } from "astro:assets";
// import { MdOutlineCleaningServices } from "react-icons/md";
---
<style>




  </style>
  


  <section id="" class="nameblock" style={{margin:'0 auto 0 auto', padding:'0 4% 10vh 0',alignContent:'center', display:'grid', textAlign:'left', justifyContent:'center', verticalAlign:'center', fontSize:'clamp(1rem, 1.8vw, 3.2rem)',}}>




    



<!-- <img src="./pooper-ui-device2.png" alt="Default Image" style={{height:'auto', width:'100dvw', maxHeight:'100dvh', position:'relative', zIndex:'1', top:'0', left:'0', right:'0', border:'0px solid #888 !important', objectFit:'contain', margin:'0'}} /> -->

<Image src={Phone} loading="lazy" alt="Phone" style={{height:'auto', width:'', maxHeight:'100vh', position:'relative', zIndex:'', top:'', left:'', border:'0px solid #222', objectFit:'contain', margin:'0 auto'}} />
    
    
    
    
    

    </section>
  

  
    